.container {
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: orange;
  border-left: 1px solid lightgray;
}

button {
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  background-color: lightgray;
  color: black;
  text-shadow: 0 0 1px black;

  :active {
    box-shadow: inset 0 0 5px black;
  }
}
